.header-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-link {
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  text-decoration: none;
  color: white;
}

.header-link:last-child {
  margin-right: 0;
}

.header-link.active-link {
  border-bottom: 2px solid white;
}
