<div
  class="h-16 bg-gray-800 text-white text-2xl flex items-center justify-between p-4 fixed w-full top-0 z-40 header-container"
>
  <div>
    @if (showHomeLink) {
    <ng-container>
      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="header-link"
        >Home</a
      >
    </ng-container>
    } @else if (isMentor) {
    <ng-container>
      <a
        routerLink="/mentor/batches"
        routerLinkActive="active-link"
        class="header-link"
        >Batches</a
      >
      <a
        routerLink="/mentor/interns"
        routerLinkActive="active-link"
        class="header-link"
        >Interns</a
      >
    </ng-container>
    } @else if (isIntern) {
    <ng-container>
      <a
        routerLink="/intern/dashboard"
        routerLinkActive="active-link"
        class="header-link"
        >My Dashboard</a
      >
    </ng-container>
    }
  </div>
  <div>
    @if (showLogoutButton) {
    <ng-container>
      <button
        (click)="logout()"
        class="header-link text-white hover:border-b-white"
      >
        Logout
      </button>
    </ng-container>

    }
  </div>
</div>
