<div class="container mt-16 mx-auto p-4 h-full bg-[#e6f7e6]">
  <div class="flex flex-col items-center justify-center bg-[#e6f7e6]">
    <div class="w-[80%] bg-white p-4 rounded-lg shadow-md">
      <div class="min-w-full border-collapse rounded-lg">
        <table mat-table [dataSource]="pagedInterns" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let intern">{{ intern.name }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let intern">{{ intern.email }}</td>
          </ng-container>
          <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef>Contact</th>
            <td mat-cell *matCellDef="let intern">{{ intern.contact }}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let intern">{{ intern.type || "--" }}</td>
          </ng-container>
          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef>Remarks</th>
            <td mat-cell *matCellDef="let intern">
              {{ intern.remark || "--" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let intern">
              <button
                class="text-blue-500 hover:text-blue-700"
                (click)="editIntern(intern)"
              >
                ✏️
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let intern">
              <button
                class="text-red-500 hover:text-red-700"
                (click)="deleteIntern(intern.id)"
              >
                🗑️
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [length]="interns.length"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      </div>
    </div>

    <div class="flex justify-end mt-4 mb-4 w-[80%]">
      <button
        class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded"
        (click)="openAddForm()"
      >
        ADD INTERN
      </button>
    </div>
  </div>

  <!-- Add Intern Form Modal -->
  @if(showAddBatchForm){
  <div>
    <app-intern-form
      [isMentor]="isMentor"
      (formClosed)="closeForm()"
      (internAdded)="addIntern($event)"
    ></app-intern-form>
  </div>
  }

  <!-- Edit Intern Form Modal -->
  @if(showEditForm){
  <div>
    <app-intern-form
      [isMentor]="isMentor"
      [intern]="currentIntern"
      (formClosed)="closeForm()"
      (internUpdated)="updateIntern($event)"
    ></app-intern-form>
  </div>
  }
</div>
